<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or Blueprints</p>
        <label>Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="newServerName">
        <label>Server Content</label>
        <input type="text" class="form-control" #serverContent>
        <br>
        <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBlueprint()">Add Server Blueprint</button>
        <hr><br>
        <input type="text" class="form-control" #myName>
        <button class="btn btn-primary" (click)="test1(myName)">Test Button 1</button>
        <button class="btn btn-primary" (click)="test2()">Test Button 2</button>
    </div>
</div>