<h1>Server Practice!</h1><br>
<div class="container">

  <app-cockpit (svrCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"></app-server-element>
    </div>
  </div>

</div>


<!--
  *********
  connection between server-element and app component(app to server-element)

  1. initialize server with object datatype and give dummy data in server-element.ts file (if you get declaration/initialization error)
  2. initialize serverElements as array in app component consisting of dummy object
  3. bind [element] and assign loop i in it in app.component.html
  4. @Input(alias) is used to expose element in server-element as property to outside it's scope, so that it can be binded with app component.
  Result:
  dummy data present in app component is fetched in server-element component.

  point to remember:
  element in server-component and serverElements in app component should have same datatype i.e; object.

  **********

  connection between cockpit and app component(cockpit to app)
  1. Add function in app component which recieve data from cockpit component and add it in serverElements array 
  2. listen to event (sending data from cockpit using $event) by adding event to <app-cockpit> which execute function which we created in app component in above point
  3. now we have to emit event from cockpit component
  4. create property in cockpit component
  5. emit this property by assigning it value, new eventEmitter (import eventemitter from angular core)
  assign eventemitter a generic type <definetype i.e; object>();
  add () at end to call constructor of eventemitter
  6. create function which will emit data frm cockpit component
  7. add @output(alias) which is used to make fuction listenable outside it's scope, so that app component can listen it and get it's data using $event.
    

  @Input : passing property outside so that it can be binded
  @Output : emiting event of function outside so that $event can recieve data.
-->